*{
    margin: 0;
    padding: 0;
}

body{
    padding: 50px;
}
.text-box{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 35px;
}

.text-box>h3{
    font-weight: 400;
}
.image-box{
    display: flex;
    padding: 20px;
}

.add{
    display: flex;
}

.box1{
    width: 830px;
    height: 480px;
    background: url('../image/img1.jpg');
    border-radius: 20px;
    margin-right: 20px;

}

.box2{
    width: 415px;
    height: 480px;
    background: url('../image/img2.jpg');
    border-radius: 20px;
    margin-right: 20px;
}

.box3{
    width: 415px;
    height: 480px;
    background: url('../image/img3].jpg');
    border-radius: 20px;
}

.text{
    padding: 100px 10px 10px 50px;
    font-size: 40px;
    color: #fff;
}

.p-text{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    padding-left: 50px;
}

@media(max-width:1280px){
    .image-box{
        padding-left: 15px;
        width: 100%;
        flex-direction: column;       
    }
   .box1{
    display: flex;
    width: 98%;
    margin-bottom: 15px;
   }

   .box1{
    display: flex;
    flex-direction: column;
   }
   .box2{
    width: 48%;
    background-size: cover;
   }

   .box3{
    width: 48%;
    background-size: cover;
   }
}

@media(max-width:640px){
    .add{
        flex-direction: column;
    }
    .box1{
        width: 95%;
    }
    .box2{
        margin-bottom: 15px;
        width: 95%;
        background-size: cover;
    }
    .box3{
        width: 95%;
        background-size: cover;
    }
}