body{
    font-family: pretendard;
}

section{
    width: 100vw;
    padding: 130px;
}

.text-box{
    width: 50%;
}

.image-box{
    width: 50%;

}

.container{
    width: 1860px;
    height: 672px;
    display: flex;
    background: beige
}
.box{
    width: 246px;

}
.header{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 44px;
    font-weight: 700;
    color: #000;
    line-height: 100%;
    text-align: center;
}

.img1{
    width: 50%;
    overflow: hidden;
    height: 468px;
    margin-left: 16px;
}

.text{
    text-align: center;
    padding: 24px;
}
.u-text{
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

h3{
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.b-text{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    line-height: 140%;
}