* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  background: #7d2ae8;
}

.wrapper {
  margin: 150px auto;
  width: 70%;
}

img {
  max-width: 320px;
  float: left;
  border: 3px solid #fff;
  border-radius: 10px;
  margin-right: 15px;
}

.text-box {
  color: #fff;
}

.text-box h2 {
  font-size: 42px;
}

.text-box p {
  font-size: 16px;
}
