body{
    font-family: sans-serif; 
    text-align: center;
    padding: 30px;
}

input{
    padding: 8px; width: 200px;
}

button{
    padding: 8px 12px;
}

ul{
    list-style: none; padding: 0;
}

li{
    margin-top: 10px;
}